<!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
	<h1 id="main-title">Isomorphic Server Side Rendering with React</h1>

    <div id="react-main-mount">
      <%- reactOutput %>
    </div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/main.js"></script>

  </body>
</html>
