// ***********************************
//  MAIN STYLES FILE
// ***********************************

html {
    background-color: blue;
    display: flex;
}

body {
    background-color: green;
}

p {
    background-color: red;
}
